// RESET CSS
@import 'reset';

// GENERAL
// .container {
//     padding: 20px;
// }

// MAIN
.main-library {
    background-color: red;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    .book-item {
        position: relative;
        background-color: yellow;
        width: 350px;
        height: 350px;
        border: 2px solid black;
    }
}

.add-btn {
    display: flex;
    justify-content: end;
}

.addBookForm {
    form {
        display: none;
    }
    .form-active {
        display: block;
    }
}

.del-book {
    position: absolute;
    top: 5px;
    right: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    background-color: red;
    padding: 3px 6px;
    border-radius: 20px;
}